:root{

    --dim-2: 2px;
    --dim-4: 4px;
    --dim-8: 8px;
    --dim-16: 16px;
    --dim-32: 32px;
    --dim-64: 64px;
    --dim-128: 128px;
    --dim-256: 256px;

    --color-blue: #4596F7;
    --color-white: #FFFFFF;
    --color-gray-light: #D5D7DA;
    --color-gray-bg: #F5F5F5;
    --color-light-text: #535862;
    --color-text-black: #101828;

    --roundness: 8px;
    --roundness-full: 500px;
    
}

*{
    margin: 0;
    padding: 0;
    font-family: "Varela", "Inter", sans-serif;
    color: var(--color-text-black);
    box-sizing: border-box;

    transition: all 0.2s ease-in-out;
}