.grid-bg{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 70%;
    background-image: url('asserts/img/bg-grid.png');
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: top center;
}
.navbar{
    padding: var(--dim-4) 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-white);
    z-index: 3;
    padding: var(--dim-4) var(--dim-32);
}
.navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.navbar-logo p{
    margin: 0px var(--dim-2);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.navbar-logo img{
    width: 28px;
    height: 28px;
}
.nav-links > a, .nav-links > select{
    outline: none;
    padding: 0px var(--dim-8);
    text-decoration: none;
    border: none;
    color: var(--color-text-black);
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.nav-links{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.nav-links select option{
    border-radius: var(--roundness);
}

.nav-links > a:hover, .nav-links > select:hover{
    color: var(--color-blue);
    text-decoration: underline;
}
.n-buttons button{
    border: 1px solid var(--color-gray-light);
    padding: var(--dim-8) var(--dim-16);
    border-radius: var(--roundness);
    cursor: pointer;
    margin: 0px var(--dim-4);
    box-sizing: border-box;
    padding: var(--dim-8) var(--dim-16);
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
}
.n-buttons button:nth-child(1){
   background-color: var(--color-white);
    color: var(--color-text-black);
}
.n-buttons button:nth-child(2){
    background-color: var(--color-blue);
    color:white;
    border: none;
}
.btn-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-img > button > img{
    width: 16px;
    height: 16px;
    margin-right: var(--dim-4);
    margin-top: - var(--dim-16);
}
.btn-img  button{
    z-index: 1;
}
.team-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: var(--dim-64) var(--dim-64);   
    margin-top: var(--dim-128);
}
.team-intro h1{
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}
.team-intro h1, .team-intro p, .team-intro div{
    margin: var(--dim-8) 0;
}
.team-intro> p{
    color: var(--color-light-text);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 19px;
    font-style: normal;
}
.employee-card{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.employee-card > div{
    position: relative;
    display: flex;
    justify-content: center;
    width: 19%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray-light);
    margin: 0 var(--dim-4);
}
.employee-card > div > div{
    position: absolute;
    bottom: 0;
    padding: var(--dim-16) var(--dim-32);
    width: 90%;
    margin-bottom: var(--dim-32);
    background-color: var(--color-white);
    color: black; 
    border-radius: var(--roundness);
}
.employee-card > div > div p{
    color: var(--color-light-text);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}
.employee div h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
body > p{
    text-align: center;
    margin: var(--dim-32) 0;
}
.small-profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--dim-32) 0;
}
.small-profile-section > img{
    width: 60px;
    height: 60px;
    padding: var(--dim-4);
    border-radius: var(--roundness-full);
}
.small-profile-section > p{
    font-size: 16px;
}

.form-section{
    display: flex;
    padding: var(--dim-64) 0;
    margin: var(--dim-16);
    border-radius: var(--roundness);
    background-color: var(--color-gray-bg);
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form-heading h2, .form-heading p{
    padding: var(--dim-4) 0;
}
.form-heading h2{
    font-weight: 450;
    font-size: 32px;
}
.form-div{
    display: flex;
    justify-content: space-around;
}
.form-div > form, .form-div > .contact-us{
    padding: 0 var(--dim-32);
    margin: var(--dim-32) 0;
}
.form-div > form > div:nth-child(1){
    display: flex;
    text-align: left;
}

.gray{
    filter: grayscale(95%);
}
.form-div-1{
    margin-right: 20px;
}
.form-div > form > div input{
    border:  1px solid var(--color-gray-light);
    padding: var(--dim-8) ;
    width: 100%;
    border-radius: var(--roundness);
    box-sizing: border-box;
    margin: var(--dim-4) 0;
    margin-bottom: var(--dim-16);
}
.phone-no-input{
    width: 100%;
    border: 1px solid var(--color-gray-light);
    border-radius: var(--roundness);
    background-color: white;
    padding: 0;
    margin: 0;
    padding: var(--dim-8) var(--dim-4);
}
.phone-no-input > input {
    width:80% !important;
    border: none !important;
    background-color: transparent;
    padding: 0 var(--dim-4) !important;
    margin: 0 !important;
    outline: none !important;
}
.phone-no-input > div.country-code select{
    border: none;
    background: transparent;
}
.form-div > form > div label{
    display: inline-block;
    text-align: left;
    padding: var(--dim-4);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    letter-spacing: -0.01em;
}
.form-div > form > div:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: left;
}
#message{
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: var(--dim-8);
    border: 1px solid var(--color-gray-light);
    border-radius: var(--roundness);
}
.message-div label{
    margin-bottom: var(--dim-8);
}
#send-btn{
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: var(--dim-16) var(--dim-4);
    border: none;
    box-sizing: border-box;
}
.send-button>input{
    cursor: pointer;
}
.contact-us{
    text-align: left;
}
.phone-no-input > div.country-code{
    display: inline;
}
.phone-no-input > div#phone-no{
    display: inline-block;
    display: none;
}
.contact-us h3, .contact-us p, .contact-us b{
    display: block;
    padding: var(--dim-4) 0;
}
.contact-us h3{
    padding-top: var(--dim-32);
    font-style: normal;
    font-size: 19px;
    font-weight: 400;   
}
.contact-us p{
    color: var(--color-light-text);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: var(--dim-8) 0;
}
.contact-us b{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding: var(--dim-4) 0;
    cursor: pointer;
}
.contact-us> b img{
    width: 15px;
    height: 15px;
    margin-right: var(--dim-4);
    /* letter-spacing: -0.03em; */
}
#loc-img img{
    width: 13px;
    height: fit-content;
}
.contact-us b i{
    width: 15px;
    height: 15px;
    margin-right: var(--dim-4);
    letter-spacing: -0.03em;
    color: #475467;
}
.footer{
    background-color: var(--color-gray-bg);
    margin: var(--dim-16) var(--dim-16);
    border-radius: var(--roundness);
}
.free-trail{
    display: flex;
    justify-content: space-between;
}

.footer{
    padding: var(--dim-16) var(--dim-64);
    padding-bottom: 0;
}
.middle-footer{
    display: flex;
    justify-content: space-between;
    padding: var(--dim-32) 0;

}
.middle-footer .logo-section .logo{
    display: flex;
    align-items: center;
}
.middle-footer .logo-section {
    width: 20%;
}
.middle-footer .logo-section img{
    width: 28px;
    height: 28px;
    margin-right: var(--dim-4);
    border-radius: var(--roundness);
}
.middle-footer .logo-section div p{
    margin: var(--dim-16) 0;
    color: var(--color-light-text);
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
}
.middle-footer ul li{
    list-style: none;
    color: var(--color-light-text);
    padding: var(--dim-4) 0;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
}
.middle-footer  ul  a[target="_blank"] li{
    font-size: 15px;
}
.middle-footer  ul  a[target="_blank"] li:hover{
    color: var(--color-blue);
    cursor: pointer;
}
.middle-footer > ul > a{
    text-decoration: none !important;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    padding: var(--dim-16) 0;
    border-top: 2px outset var(--color-gray-light);
    color: var(--color-light-text);    
}
.bottom-footer .logos i{
    font-size: 20px;
    padding: 0 var(--dim-8);
    color: var(--color-light-text);
    cursor: pointer;
}
.bottom-footer .logos i:hover{
    color: var(--color-blue);
}
.free-trail h2{
    font-weight: 500;
    font-size: 28px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 38px;
}
.logos i:nth-child(4){
    transform: scaleX(-1);
}